<div class="row mb-1">
    <h2>Disclaimers:</h2>
  </div>
  <blockquote class="blockquote">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan
      justo ut velit vulputate, et tempor justo ultrices. Suspendisse euismod,
      augue sit amet vestibulum accumsan, nunc nibh interdum orci, sit amet tempor
      quam lacus et mi. Quisque nec suscipit arcu. Pellentesque suscipit eros
      ullamcorper pulvinar convallis. Vivamus varius ante a elit suscipit
      malesuada. Proin ac dignissim leo, quis posuere magna. Nullam mollis erat
      finibus tellus sollicitudin, in lobortis purus vulputate. Cras aliquet
      fringilla ante et egestas.
    </p>
  </blockquote>
  
  <div class="d-flex justify-content-center">
    <button (click)="accepted.emit()" class="me-3" mat-raised-button color="primary">Accept</button>
    <button (click)="rejected.emit()" mat-raised-button>Decline</button>
  </div>
  