<div class="row mb-1">
    <h2>Disclaimers:</h2>
  </div>
  <blockquote class="blockquote">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan
      justo ut velit vulputate, et tempor justo ultrices. Suspendisse euismod,
      augue sit amet vestibulum accumsan, nunc nibh interdum orci, sit amet tempor
      quam lacus et mi. Quisque nec suscipit arcu. Pellentesque suscipit eros
      ullamcorper pulvinar convallis. Vivamus varius ante a elit suscipit
      malesuada. Proin ac dignissim leo, quis posuere magna. Nullam mollis erat
      finibus tellus sollicitudin, in lobortis purus vulputate. Cras aliquet
      fringilla ante et egestas.
    </p>
  
    <p>
      Praesent ac metus nec tortor efficitur efficitur sed in ligula. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Vivamus id congue ante, vel fringilla enim. Ut lobortis lacinia nisl a
      molestie. Phasellus molestie ipsum nec felis auctor posuere. Ut ut est
      massa. Pellentesque porttitor mattis purus, at efficitur neque. Proin
      pharetra sit amet neque eu sollicitudin. Donec sagittis ex vitae felis
      aliquam laoreet. Aliquam tincidunt pulvinar ultrices. Etiam sed euismod
      ligula, vitae finibus est. Nulla cursus porta commodo. Nullam vel dignissim
      arcu, non mollis ligula. Curabitur vitae luctus dolor. Nulla vestibulum leo
      nec nisi mollis laoreet.
    </p>
  </blockquote>
  
  <div class="d-flex justify-content-center">
    <button class="me-3" mat-raised-button color="primary">Accept</button>
    <button mat-raised-button>Decline</button>
  </div>
  