<mat-toolbar color="primary">
  <h1>Credit Info App</h1>
</mat-toolbar>
<div class="container pt-3">
  <div class="row">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon (click)="back()">arrow_back</mat-icon>
    </button>
  </div>
  <ng-container [ngSwitch]="appRoutes">
    <app-disclaimer
      *ngSwitchCase="appRoutesEnum.Disclaimers"
      (accepted)="disclaimersAccepted()"
      (rejected)="disclaimersRejected()"
    ></app-disclaimer>
    <app-widget *ngSwitchCase="appRoutesEnum.Main"></app-widget>
    <div *ngSwitchCase="appRoutesEnum.DisclaimersRejected" class="b-bold">
      No score for you
    </div>
    <app-credit-history
    *ngSwitchCase="appRoutesEnum.Main">

    </app-credit-history>
  </ng-container>
</div>
