<main class="app-container">
  <header class="app-header">
    <div class="d-flex justify-content-between align-items-center app-header-container">
      <div>
        <img alt="Morgan Stanley"
          height="30"
          src="assets/images/ms-logo.svg"
          width="198" />
      </div>
      <div class="d-flex align-items-center">
        <mat-icon>account_circle</mat-icon>
        <span class="ms-inline-block mlr10 mlr-seperator ms-color-light-blue">|</span>
        <a role="link"
          aria-label="Logout"
          href="#/logout"
          class="ms-inline-block u ng-star-inserted"> Log out </a>
      </div>
    </div>
  </header>
  <div class="app-menu-container">
    <nav>
      <div>
        <a href=""
          class="menu-item">Home</a>
      </div>
    </nav>
  </div>
  <div class="main-container">
    <div class="main-summary"></div>
    <div class="main-section-container">
      <div class="main-section">
        <div class="section-one bg-color-white mb-4"></div>
        <div class="cia-widget-container bg-color-light-blue"></div>
      </div>
      <div class="widget-section">
        <div class="widget-one bg-color-white"></div>
      </div>
    </div>
  </div>
</main>
<mat-toolbar color="primary">
  <h1>Morgan Stanley Online - Credit Info App</h1>
</mat-toolbar>
<div class="container pt-3">
  <div *ngIf="isBackButtonVisible">
    <button mat-button
      (click)="back()">
      <mat-icon>chevron_left</mat-icon> Back
    </button>
  </div>
  <ng-container [ngSwitch]="appRoutes">
    <app-disclaimer *ngSwitchCase="appRoutesEnum.Disclaimers"
      (accepted)="disclaimersAccepted()"
      (rejected)="disclaimersRejected()"></app-disclaimer>
    <app-widget *ngSwitchCase="appRoutesEnum.Main"
      (creditHistory)="gotoCreditHistory()"></app-widget>
    <div *ngSwitchCase="appRoutesEnum.DisclaimersRejected"
      class="b-bold">
      No score for you
    </div>
    <app-credit-history *ngSwitchCase="appRoutesEnum.CreditHistory">
    </app-credit-history>
  </ng-container>
</div>