/* You can add global styles to this file, and also import other style files */

@import "./assets/styles/theme-palette";
@import "./assets/styles/layout";
@import "./assets/styles/base";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Karla';
  background-color: #ededed;
}
