// Global color palettes
/* For use in src/lib/core/theming/_palette.scss */
$ms-theme-color-palette: (
    50 : #e3eff7,
    100 : #bad7ea,
    200 : #b9e8fe,
    300 : #5da2cf,
    400 : #3b8ec4,
    500 : #187aba,
    600 : #1572b3,
    700 : #005c90,
    800 : #0e5da3,
    900 : #002b51,
    A100 : #82b1ff,
    A200 : #448aff,
    A400 : #2979ff,
    A700 : #2962ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
